<!doctype html>
<html>

<head>
  <title>{{appName}}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <!--<script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>-->
  <!--<script src="https://unpkg.com/@shopify/app-bridge@1"></script>-->
  <script src="https://unpkg.com/@shopify/app-bridge@1.6.7/umd/index.development.js"></script>
  <script type="text/javascript">
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.createApp;
    var actions = AppBridge.actions;
    var Redirect = actions.Redirect;
    var app;
    var accountConnected = {{accountConnected}};

    //TODO receive from template vars
    const debug = {{debug}};
    const shopOrigin = '{{shopOrigin}}';
    const apiKey = '{{apiKey}}';
    const serviceAddress = '{{serviceAddress}}';
    const state = '{{state}}';
    const scope = '{{scope}}';


    const redirectUri = serviceAddress + '/shopify/callback';
    const permissionUrl = '/oauth/authorize?client_id='
        + apiKey + '&state=' + state + '&scope=' + scope + '&redirect_uri=' + redirectUri;

    // If the current window is the 'parent', change the URL by setting location.href
    if (window.top == window.self) {
      window.location.assign('https://' + shopOrigin + '/admin' + permissionUrl);
    } else {
      app = createApp({
        apiKey: apiKey,
        shopOrigin: shopOrigin,
        debug,
      });

      const unsubscribe = app.error((data) => {
        // type will be the error type
        // action will contain the original action including its id
        // message will contain additional hints on how to fix the error
        const {type, action, message} = data;
        // Handle all errors here

        debugger;
      });

      Redirect.create(app).dispatch(Redirect.Action.ADMIN_PATH, permissionUrl);

      const { TitleBar, } = actions;

      const titleBarOptions = {
        title: 'My page title',
        /*buttons: {
          primary: {
            label: 'Save',
            message: 'form_sms_notifications_submit',
            callback: function () {

            }
          },
        }*/
      };

      const myTitleBar = TitleBar.create(app, titleBarOptions);
    }
  </script>

  <script type="text/javascript">
    // ShopifyApp.ready(function(){
    //   ShopifyApp.Bar.initialize({
    //     icon: 'https://ezyslips.in/embedded/sms/images/sms_icon_60x60.png',
    //     icon: '/images/embedded_app.logo.128x128.png',
    //     title: 'Settings',
    //     buttons: {
    //       primary: {
    //         label: 'Save',
    //         message: 'form_sms_notifications_submit',
    //         callback: function(){
    //           ShopifyApp.Bar.loadingOn();
    //         }
    //       },
    //       secondary:
    //         [{
    //           label: "Like our service? Leave us a review",
    //           href: "https://apps.shopify.com/sms-notifications-1#reviews-heading",
    //           target: "new"
    //         },{
    //           label: 'FAQ',
    //           href: "https://ezyslips.in/embedded/sms/faq.php",
    //           target: "new"
    //         },]
    //       /*secondary:
    //           {
    //               label: "Like our service? Leave us a review",
    //               href: "https://apps.shopify.com/sms-notifications-1#reviews-heading",
    //               target: "new"
    //           }*/
    //     }
    //   });
    //
    //
    //   ShopifyApp.Bar.loadingOff();
    // });
  </script>
  <!--<link rel="stylesheet" type="text/css" href="seaff/seaff.css">-->
  <style>
    hr {
      margin: 15px 0px 10px 0px;
      padding: 0px;
      border-top: 0px;
      border-bottom: 1px solid #f4f4f4;
      height: 0px;
    }

    h1 {
      font-weight: bold;
    }

    .hidden {
      display: none;
    }
  </style>

  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->

</head>

<body>
<style>
</style>
<!--if user is authenticated we do not show this section, we can decide it on server-->
<div class="section {{connectAccountSectionClass}}" id="connectAccountSection" >
  <div class="section-summary">
    <h1>Connect your handwriting account</h1>
  </div>
  <div class="section-content">
    <button id="sign-in-button" class="" onclick="showAuthForm(this)">Connect account</button>
  </div>
</div>
<!--may be if user is not authenticated we do not show this section, we can decide it on server-->
<div class="section {{settingsSectionClass}}" id="notificationPreferenceSection" >
  <div class="section-summary">
    <h1>Notification Preference</h1>
    <p>Select when to send card</p>
  </div>
  <div class="section-content">

    <div class="section-row">
      <div class="section-cell">
        <h3 style="border-bottom:1px solid #ccc;">Customers Account</h3>
        <div class="cell-container">

          <div class="cell-column">
            <div class="cell-container">
              <div class="cell-column">
                <label class="label-normal">Create:</label>
              </div>
              <div class="cell-column">
                <select id="customers_create_a" name="settings[customers][create][campaign]" disabled >
                  <option disabled selected>campaign id</option>
                  <option>Пункт 1</option>
                  <option>Пункт 2</option>
                </select>
                <label for="customers_create_a">Select Campaign</label>
              </div>
              <div class="cell-column">
                <input id="customers_create_c" type="checkbox" name="settings[customers][create][notify]" value="0" disabled >
                <label for="customers_create_c">Notify Customer</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section {{settingsSectionClass}}">
  <div class="section-summary">
    <h1>Create a new campaign</h1>
  </div>
  <div class="section-content">
    <a
        href="https://hc-application-interface-test.firebaseapp.com/stationery/new/stationery"
        class="" target="_blank"
        rel="noopener noreferrer"
    >
      visit Handwriting service
    </a>
  </div>
</div>

<script type="text/javascript">
  let modalIsOpen = false;

  document.addEventListener('DOMContentLoaded', function() {
    app.getState().then((data) => {
      const {appInfo, loading, modal, navigation, pos, resourcePicker, staffMember, titleBar, toast} = data;
      console.log('getState data=',data)
      debugger;
    });

    app.featuresAvailable().then(function (state) {debugger

    });
  });

  function showAuthForm(button) {
    app.getState().then((data) => {
      const {appInfo, loading, modal, navigation, pos, resourcePicker, staffMember, titleBar, toast} = data;
      console.log('getState data=',data)
      debugger;
    });


    const toastOptions = {
      message: 'Product saved',
      duration: 5000,
    };
    console.dir(app)
    const { Toast } = actions;
    const toastNotice = Toast.create(app, toastOptions);
    toastNotice.dispatch(Toast.Action.SHOW);
    return;

    //debugger
    //disable
    button.disabled = true;

    if (modalIsOpen) {
      return;
    }
    modalIsOpen = true;

    let authModal;
    const { Modal, Button, } = actions;
    const okButton = Button.create(app, {label: 'Login'});
    okButton.subscribe(Button.Action.CLICK, () => {debugger
      // Do something with the click action
      auth()
        .then(result => {
          //save
          authModal.dispatch(Modal.Action.CLOSE);

          accountConnected = true;

          const preferenceSection = document.getElementById('notificationPreferenceSection');
          preferenceSection.classList.remove('hidden');
          const connectionSection = document.getElementById('connectAccountSection');
          connectionSection.classList.add('hidden');
        })
        .catch(error => {
          //show error
          debug && console.error('auth error');
        });
    });
    const cancelButton = Button.create(app, {label: 'Cancel'});
    cancelButton.subscribe(Button.Action.CLICK, () => {
      // Do something with the click action
      authModal.dispatch(Modal.Action.CLOSE);
    });
    const modalOptions = {
      title: 'Connect to Handwriting account',
      message: 'Sign in',
      footer: {
        buttons: {
          primary: okButton,
          secondary: [cancelButton],
        },
      },
      size: Modal.Size.Large,//Auto
    };
    authModal = Modal.create(app, modalOptions);

    /*authModal.subscribe(Modal.Action.OPEN, () => {
      // Do something with the open event


    });*/

    authModal.subscribe(Modal.Action.CLOSE, () => {
      // Do something with the close event
      console.log('Modal.Action.CLOSE');
      modalIsOpen = false;
      button.disabled = false;
      authModal.unsubscribe();
    });

    authModal.subscribe(Modal.Action.OPEN, () => {
      // Do something with the close event
      console.log('Modal.Action.OPEN')
      modalIsOpen = true;
    });

    authModal.dispatch(Modal.Action.OPEN);

    //in case of error
    //authModal.set({title: 'My new title'});

  }

  function auth() {
    //serviceAddress + '/auth'
    return Promise.resolve('test');
  }

  function connectHandwritingAccount() {

  }
  function loadUserCampaigns() {

  }
  function addHookRecipientsToCampaign() {

  }
  function removeHookRecipientsToCampaign() {

  }
</script>
</body>

</html>
